<h1 class="text-center">Editing Invoice</h1>

<%= render 'form', invoice: @invoice %>


<%= link_to 'Show', @invoice, class: "btn btn-warning" %> 
<%= link_to 'Back', invoices_path, class: "btn btn-info" %>
