<div class="container-fluid">
    <div class="row new-invoice-header">
        <h1 id="new-invoice-title">New Invoice</h1>
        <b style="text-align: right"><small>Date:</small><small id="date_val"></small></b>
    </div>
</div>

<%= render 'form', invoice: @invoice %>

<%= link_to 'Back', invoices_path, class: "btn btn-info" %>
