// FORM STYLES

::-webkit-input-placeholder
    color: red

.field
    margin: 1rem 0
.input-group-addon
    padding: .5rem
    background: $input-group-bg
    color: whitesmoke

// HTML5 tag address
address
    display: flex
    flex-direction: column
    flex: 1
    margin-bottom: 0

.date-select-wrapper
    display: flex
    justify-content: space-between
    border: 1px solid $light-gray

#invoice_amount
    font-weight: bold
    text-align: right

#addr_0, #addr_1, #addr_2, #addr_4, #addr_5
    width: 100%
    align-self: auto
#date-label, #amount-label, #currency-label
    margin-bottom: 0
#invoice_date_1i, #invoice_date_2i, #invoice_date_3i
    background: transparent
    padding: .5rem
    margin: .5rem
    outline: none
    border: none
    font-size: .8rem

section#new-item-section
    margin-top: 1rem
    padding-top: 1rem

#items-table, th, td
    border: 3px solid tranparent

.price_td
    display: flex
.subtotal_currency
    margin-left: 5px

.actions
    display: flex
    justify-content: flex-end
    margin: 2rem 0

#show_invoice_btn
    color: white

#main-invoice-section, #new-item-section, #total-section
    border: 2px solid $light-gray
#invoice-num-wrapper
    margin-top: 2rem
    margin-bottom: 1rem


// NEW INVOICE STYLES
.new-invoice-header
    display: flex
    justify-content: space-between
    b
        align-self: center
#new-invoice-title
    margin: 1rem 0
    font-size: x-large
    text-transform: uppercase
